<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>倒计时三秒后跳转到首页</title>
    <script>
        function countDown(){
            //获取初始时间
            var time = document.getElementById("Time");

            //获取到id为time标签中的数字时间
            if(time.innerHTML == 0){
                //等于0时清除计时，并跳转该指定页面
                window.location.href="/admin/index";
            }else{
                time.innerHTML = time.innerHTML-1;
            }
        }
        //1000毫秒调用一次
        window.setInterval("countDown()",1000);
    </script>
    <style>
        #Time,#p{
            font-size: 50px;
            text-align: center;
        }
        #Font,#p{
            font-size: 50px;
            text-align: center;
        }
    </style>
</head>
<body>
<font color="yellow"><p id="Time" >3</p></font>
<p id="Font" th:text="${result}"></p>
</body>
</html>
