<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>二手交易市场</title>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>

<section id="login_wrap">
    <div class="fullscreen-bg" style="background: url(../static/images/bg.jpg);height: 700px;">

    </div>
    <div class="login-box">
        <div class="title">
            <span>欢迎登陆</span>
        </div>
        <div class="login_inner">

            <!--登录错误提示消息-->
            <div id="errorMsg" class="alert alert-danger" th:text="${login_msg}" th:if="${not #strings.isEmpty(login_msg)}"></div>
            <form id="loginForm" action="/commodity/login" method="post" accept-charset="utf-8">
                <input type="hidden" name="action" value="login"/>
                <input name="username" type="text" placeholder="请输入账号名称" autocomplete="off">
                <input name="password" type="password" placeholder="请输入密码" autocomplete="off">
                <div class="submit_btn">
                    <button type="submit" id="btn_sub">登录</button>
                </div>
            </form>
            <div class="reg">没有账户？<a href="/">立即注册</a></div><hr>
        </div>
    </div>
</section>
</body>

</html>